@import 'variaveis';

#perfil{
    width: 100%;
    min-height: 100%;
    .perfil__top{
        width: 100%;
        height: 35vh;
        position: relative;
        padding-bottom: 1rem;
        .perfil__header{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 1rem;
            .seta__logo{
                display: flex;
                justify-content: space-between;
            }
            .perfil__pessoa{
                margin-top: 2rem;
                padding: 0 ($pad-1+2 );
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .home__blob{
                    width: 110px;
                    fill: #fff;
                }
                .home__blob-img{
                    width: 100%;
                    object-fit: cover;
                }
                .quem{
                    h5{
                        color: #fff;
                    }
                }
            }
        }
        .inf{
            position: absolute;
            bottom: 1rem;
            left: 50%;
            width: 70%;
            background: #fff;
            display: flex;
            flex-direction: column;
            transform: translate(-50%);
            border-radius: 15px;
            padding: 0.5rem;
            box-shadow: -1px 3px 7px rgba(0, 0, 0, 0.63);
        }
    }
    .perfil__main{
        height: 65vh;
        padding: 1rem 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .perfil__tabela{
            width: 100%;
            padding: $pad-1;
            background: $back-table;
            border-radius: $border-1;
            table{
                width: 100%;
                tr{
                    background: #fff;
                    &:nth-child(1){
                        background: transparent;
                    }
                    td{
                        padding: 0.2rem;
                        &:nth-child(1){
                            text-transform: uppercase;
                        }
                        &:nth-child(2){
                            text-transform:capitalize;
                        }
                    }
                }
            }
        }
        .informacoes__perfil{
            border: 1px solid $back-table;
            border-radius: $border-1;
            margin-top: 1.5rem;
            width: 100%;
            padding: $pad-1+1;
            position: relative;
            span{
                background: #fff;
                padding: 0.2rem;
                position: absolute;
                top: -1rem;
                left: 0.2rem;
            }
            ul{
                width: 100%;
                li{
                    padding: 0.1rem;
                    display: flex;
                    p{
                        &::before{
                            content: ':  ';
                        }
                    }
                }
            }
        }
        .nossasredes{
            width: 100%;
            .redesss{
                width: 30%;
                display: flex;
                justify-content: space-between;
                padding: 1rem 0;
                .redes{
                    font-size: 35px;
                }
            }
        }
    }
}

@media (max-width: 600px){
    #perfil{
        .perfil__top{
            .inf{
                .li{
    
                    font-size: $font-mobile-st1;
                }
            }
        }
    }
    .perfil__main{
        .perfil__tabela{
            table{
                tr{
                    font-size: $font-mobile-st1;
                    &:nth-child(1){
                        font-size: $font-mobile-st1+2px;
                        td{
                            &:nth-child(3){
                                position: relative;
                                &::after{
                                     content: url(../icons/seta__baixo.png);
                                    position: absolute;
                                    width: 20px;
                                    top: 0;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .informacoes__perfil{
            span{
                font-size: $font-mobile-st1+2px;
            }
            ul{
                width: 100%;
                li{
                    font-size: $font-mobile-st1;
                }
            }
        }
     }
}